.hero {
    background-image: url(https://images.unsplash.com/photo-1517495306984-f84210f9daa8?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.item {
    &:hover{
        .item__img {
            filter: brightness(0.8);
        }

        .item__context {
            display: flex;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: 100%;
        transition: all 300ms;
        background-position: center;
        filter: brightness(1);

        &:hover{
            filter: brightness(0.8);
        }
    }

    &__container {
        position: relative;

    }

    &__context {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
        top: 0;
        left: 0;
        bottom: 0;
        margin-top: 0;
        padding: 1rem;
        flex-direction: column;
        justify-content: space-between;
    }

    &__author {
        color: white;
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .item {
        &__context {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 12px;
        }

        &__author {
            color: #111;
        }

    }
  }